*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main{
    width: 50vw;
    height: 50vh;
    background-color: #FFF;
    border-radius: 4px;
    margin-top: 10px;
}

main .input-area{
    padding: 4px;
    font-size:30px;
  }
  main .input-area input{
      border-radius: 4px;
      background-color: #f0f0f0; /* Cor de fundo clara */
      color: #333;               /* Cor do texto */
      font-size: 16px; 
  }
  input:focus {
      border-color: #00bfff;   /* Cor da borda ao focar */
      background-color: #e0f7fa; /* Cor de fundo ao focar */
      box-shadow: 0px 0px 10px rgba(142, 143, 140, 0.781); /* Sombra ao focar */
  }
  main .input-area button{
      border: none;
      padding: 10px;
      font-size: 14pt;
      cursor: pointer;
      background-color: rgb(151, 113, 187);
  
      border-radius: 4px;
  }
  main .input-area button:hover{
      border-bottom: blueviolet 5px solid;
      
  }
  main .input-area .clear{
    display: none;
   
  }